body {
  box-sizing: border-box;
  min-height: 2000px;
  padding-top: 70px;
}

.row-bottom-margin-6 {
  margin-bottom: 6px;
}

.row-bottom-margin-0 {
  margin-bottom: 0px;
}

.border-width-6 {
  border-width: 6px;
  border-style: solid;
  /*background-color: lightgray;*/
  border-radius: 5px;
}

.border-width-3 {
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}

